<h1><span data-i18n="skills.my_skills">About</span></h1>
<hr />
<div>
  Enthusiastic professional who is on the path to becoming a well-rounded software engineer and
  critical thinker with solid proficiency in web development. Able to develop applications in
  diverse programming languages using appropriate tools, libraries, frameworks, and debugging
  skills. Seeking opportunities to engage in application development projects whereby I would be
  able to leverage the skills and knowledge I have acquired through my previous experience in web
  development.
</div>
