<h1><span data-i18n="skills.my_skills">About</span></h1>
<hr>
<div>
    Ardent college student who is currently on the path to becoming a well-rounded software engineer, desirably web
    developer, and comes up with critical thoughts built on the solid proficiency. Able to develop applications in
    diverse
    programming languages with corresponding tools, libraries, frameworks, and debugging skills. Sincerely looking
    forward
    to opportunities to engage in real-world application development projects whereby I can leverage my skills and
    knowledge acquired through a wide variety experiences.
</div>