<h1><span data-i18n="skills.my_skills">About</span></h1>
<hr />
<div>
  Ardent professional who is on the path to becoming a well-rounded software engineer and comes up
  with critical thoughts built on the solid proficiency. Able to develop applications in diverse
  programming languages with corresponding tools, libraries, frameworks, and debugging skills.
  Looking forward to opportunities to engage in application development projects whereby I could
  leverage my skills and knowledge acquired through a wide variety of experiences.
</div>
