<h1><span data-i18n="skills.my_skills">Certificates</span></h1>
<hr />
<div>
  <ul>
    <li>
      <span style="font-weight: bold">(ASP.NET) Microsoft Certificate of Achievement</span> -
      <span style="color: #666666">Issued by Microsoft Certified Training Center</span>
    </li>
    <li>
      <span style="font-weight: bold">(Big Data Course) Certificate of Completion</span> -
      <span style="color: #666666"
        >Hosted by Dankook University & trained by big data institutions: Microsoft, SAP,
        Hortonworks, LG CNS</span
      >
    </li>
    <li>
      <span style="font-weight: bold">Industrial Engineer: Information Processing</span> -
      <span style="color: #666666">Issued by Human Resources Development Service of Korea</span>
    </li>
  </ul>
</div>
