<h1><span data-i18n="skills.my_skills">Programming Experience</span></h1>
<hr>
<div>
    <ul>
        <li><span style="font-weight: bold;color: #aa22ff">Languages:</span> C, C++, C#, HTML/CSS, Javascript/jQuery</li>
        <li><span style="font-weight: bold;color: #aa22ff">Frameworks:</span> Node.js, Vue/Nuxt.js, ASP.NET</li>
        <li><span style="font-weight: bold;color: #42b983">Acquired</span> a certificate of ASP.NET issued by Microsoft</li>
        <li><span style="font-weight: bold;color: #42b983">Acquired</span> a certificate of Data Processing Engineer
            developed by Human Resources Development Service of
            Korea after <span style="font-weight: bold;color: #f06bad">having completed</span> D-school Big Data course
            in Big D.School
            (12 Weeks, 480 Hours)</li>
    </ul>
</div>